video{
  object-fit: cover;
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.App {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
}
.container{
  display: flex;
  justify-content: center;
}
.container_search{
  display: flex;
}
.search{
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  margin-left: 0px;
  border: solid 2px #575756;
}
::-webkit-input-placeholder { 
  color:    #575756;
}
:-moz-placeholder { 
  color:    #575756;
}
::-moz-placeholder { 
  color:    #575756;
}
h2{
  text-align: center;
}
ul {
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.pict{
  box-shadow:0 0 15px rgba(0,0,0,0.6);
}
span{
  color:#6C4AB6;
  font-weight:bolder;
}
.ingredient {
  display: block;
  padding: .4em;
  margin: .5em 0.5em 2.5em;
  background: rgba(221,213,232,0.5);
}
.type{
  background: rgba(221,213,232,0.3);
}
.icons{
  width: 32px;
}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,h2,ul,p{
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: #6d9ba5;
}
@media all and  (max-width: 500px){
  video{
    display: none;
  }
}

